@use './mixins/mediaQuery' as *; 


.container_principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main{
  margin: 70px auto;

  @include dispositivo(tablet) {
    margin: 200px auto;
  }

}


.thread-content {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.5;
  padding: 20px;
  font-size: 14px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  

  strong {
    font-weight: bold;
    color: #000;
  }

  em {
    font-style: italic;
  }

  p {
    margin-bottom: 1em;
  }

  ul {
    padding-left: 20px;
    list-style-type: disc;
  }

  a {
    color: #CA8888;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
