@use "./mixins/mediaQuery" as *;
@use "./mixins/text-style" as *;
@use "./mixins/flex-container" as *;
$secondary-color: #ca8888;


.home {
  @include flex-container(column, center, center);
  width: 100%;

  &__main {
    margin: 70px auto;
  }

  &__thread-content {
    @include text-style();
    line-height: 1.5;
    padding: 30px 20px 0 20px;
    max-width: 1200px;
    @include flex-container(column, flex-start, flex-start);

    strong {
      font-weight: bold;
      color: #000;
    }

    em {
      font-style: italic;
    }

    p {
      margin-bottom: 1em;
    }

    ul {
      padding-left: 20px;
      list-style-type: disc;
    }

    a {
      color: $secondary-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}