@use "./navbar";
@use "./home";
@use "./form";
@use "./footer";
@use "./mixins/mediaQuery" as *;


#root {
  margin: 0px;
}

body {
  margin: 0px;
  // min-height: 100vh;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  background-color: #f4efef;
}
