@use "./mixins/mediaQuery" as *;
@use "./mixins/flex-container" as *;
@use "./mixins/box-shadow" as *;

$primary-color: white;
$secondary-color: #ca8888;
$tertiary-color: #e2ecf980;

//navbar
.navbar {
  @include flex-container(center, center, center);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: $primary-color;
  width: 100%;
  @include box-shadow;


  &__hamburger {
    display: none;

    @include dispositivo(tablet) {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: transparent;
      border: none;
      cursor: pointer;
      
      .navbar__hamburger-line {
        width: 25px;
        height: 3px;
        background: $secondary-color;
        border-radius: 3px;
      }
    }
  }

  // Menú desplegable
  &__menu {
    display: flex; 
    align-items: flex-start;

    @include dispositivo(tablet) {
      display: none; 
      flex-direction: column;
      width: 100%;
      background-color: $primary-color;
      position: absolute;
      top: 60px; 
      left: 0;
      transform: translateY(-10px);
      transition: transform 0.3s ease-in-out;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

      &--open {
        display: flex;
        transform: translateY(0);
      }
    }
  }

  &__item {
    width: min-content;
    @include flex-item(20px);
    &-description {
      color: $secondary-color;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__button-container {
    @include flex-container(column, center, center);
    padding: 15px;

    &__history {
      list-style: none;
      padding: 0;
      margin: 0;
      @include flex-container(column, center, center);
      li{
        margin-bottom: 5px;
      }
    }
  }

  @include dispositivo(tablet) {
    justify-content: space-around;
    gap: 10px;
    padding: 0px;

    &__item {
      @include flex-item(10px);
    }
  }
}

//Button estados
.button_estados {
  text-decoration: none;
  width: 300px;
  height: 45px;
  border: 1px solid $secondary-color;
  border-radius: 7px;
  color: $primary-color;
  font-weight: 400;
  font-size: 14px;
  background: linear-gradient(90deg, #ac4747 0%, #ffaaaa 100%);
  cursor: pointer;
  @include flex-container(row, center, center);
  margin-bottom: 8px;

  &:hover {
    background-color: #a65a5a;
  }

  &:focus {
    outline: none;
  }

  span {
    color: $primary-color;
  }
}