@use "./mixins/mediaQuery" as *;
@use "./mixins/flex-container" as *;
@use "./mixins/box-shadow" as *;

$primary-color: white;
$secondary-color: #ca8888;
$tertiary-color: #e2ecf980;

// Navbar Block
.navbar {
  @include flex-container(center, center, center);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: $primary-color;
  @include box-shadow(0px, 10px, 60px, $tertiary-color);
  width: 100%;

  &__item {
    // border: solid red 1px;
    width: min-content;
    @include flex-item(20px);
    &-description {
      color: $secondary-color;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__button-container {
    @include flex-container(column, center, center);

    &__history {
      list-style: none;
      padding: 0;
      margin: 0;
      @include flex-container(column, center, center);
    }
  }

  @include dispositivo(tablet) {
    flex-direction: column;
    gap: 10px;

    &__item {
      @include flex-item(10px);
    }
  }
}

.button_estados {
  text-decoration: none;
  width: 300px;
  height: 45px;
  border: 1px solid $secondary-color;
  border-radius: 7px;
  color: $primary-color;
  font-weight: 400;
  font-size: 14px;
  background: linear-gradient(90deg, #ac4747 0%, #ffaaaa 100%);
  cursor: pointer;
  @include flex-container(row, center, center);

  &:focus {
    outline: none;
  }

  span {
    color: $primary-color;
  }
}
